{% extends '@nucleus/partials/particle.html.twig' %}

{% if particle.extra %}
    {% for attributes in particle.extra %}
        {% for key, value in attributes %}
            {% set attr_extra = attr_extra ~ ' ' ~ key|e ~ '="' ~ value|e('html_attr') ~ '"' %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% block particle %}
    {% set article_settings = particle.article %}
    {% set filter = article_settings.filter %}
    {% set sort = article_settings.sort %}
    {% set limit = article_settings.limit %}
    {% set display = article_settings.display %}

    {# Category Finder #}
    {% set category_options = filter.categories ? {id: [filter.categories|split(','), 0]} : {} %}
    {% set categories = joomla.finder('category', category_options).published(true).language().find() %}

    {# Content Finder #}
    {% set article_finder = joomla.finder('content').category(categories).language() %}

    {% set featured = filter.featured|default('include') %}
    {% if featured == 'exclude' %}
        {% do article_finder.featured(false) %}
    {% elseif featured == 'only' %}
        {% do article_finder.featured(true) %}
    {% endif %}

    {% set articles = article_finder.order(sort.orderby, sort.ordering).limit(limit.total).start(limit.start).find() %}

<div class="{{ particle.class|e }}">
  {% if particle.title %}<h2 class="g-title">{{ particle.title|raw }}</h2>{% endif %}
  <div class="g-popupgrid">

    {% for item in particle.items %}
      <div class="g-popupgrid-item  {{ item.animations|default('g-zoom')|e }}" data-size="{{ item.datasize|e }}">
        <div data-src="{{ url(article.images.image_intro) }}" class="g-popupgrid-item-img-wrap">
          <img class="g-popupgrid-item-img-wrap-img" src="{{ url(article.images.image_intro) }}" alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}" />
          {% if item.previewicon %}<div class="g-popupgrid-description-preview-icon {{ item.overlay|e }}"><span class="{{ item.previewicon|e }}"></span></div>{% endif %}
          <div class="g-popupgrid-description g-popupgrid-description-grid">
            {% if item.tag %}<div class="g-popupgrid-description-preview-tag">{{ item.tag|raw }}</div>{% endif %}
            {% if display.title.enabled %}
              <div class="g-popupgrid-description-preview-title">{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title|e }}
              </div>
            {% endif %}
            <div class="g-popupgrid-description-preview-content">{{ article.introtext|e }}</div>
            {% if item.buttontext %}
            <div class="g-popupgrid-description-preview-readmore">
              <a target="{{ item.buttontarget|default('_self')|e }}" href="{{ article.route|e }}" title="{{ item.buttontext|e }}" class="button {{ item.buttonclass|e }}">{{ item.buttontext|e }}</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="g-popupgrid-preview">
    <div class="g-popupgrid-preview-area"></div>
    <button class="g-popupgrid-action g-popupgrid-action-close"><i class="fa fa-times"></i><span class="g-popupgrid-text-hidden">Close</span></button>
    <div class="g-popupgrid-description g-popupgrid-description-preview"></div>

  </div>

  <script src="{{ url('gantry-theme://js/popupgrid.js') }}"></script>
{% endblock %}


